<div class="series-card-wrapper">
	<div class="series-card-container">
		<div class="banner-wrapper">
			<img src="{{ getImageSrc() }}" alt="">
			<div class="image-overlay"></div>
		</div>
		<div class="title-wrapper">
			{{ series.name }}
		</div>
		<div class="seasons-wrapper">
			<div class="season-container" *ngFor="let season of series.seasons">
				<div class="season">
					<div class="season-title">{{ season.seasonNumber }}</div>
					<div class="episodes-wrapper">
						<div class="episode-container" *ngFor="let episode of season.episodes">
							{{ episode.watched ? 'x' : 'o' }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>