.login-wrapper {
	position: absolute;
	width: 100%;
	top: calc(50% - 150px);
	text-align: center;
}

.login-container {
	position: absolute;
	left: calc(50% - 150px);
	background-image: url("../../../assets/images/bright-squares.png");
	background-color: rgba(174, 174, 174, 0.20);
	color: white;
	width: 250px;
	padding: 25px;
}

label, input {
	float: center;
	width: calc(100% - 10px);
	text-align: left;
}

label {
	padding: 5px 0;
}

input {
	border: none;
	background: #3D3D3D;
	color: white;
	padding: 5px;
	margin-top: 5px;
	border-radius: 3px;
	outline: none;
	text-align: center;
}