<div class="search-wrapper">
	<div class="search-container">
		<div class="input-wrapper">
			<input (ngModelChange)="searchStringChanged()" [(ngModel)]="searchString" type="text" class="search" placeholder="Suche">
			<button (click)="clearInput()" class="clear-input" [ngStyle]="{'opacity': searchString !== '' ? 1 : 0 }"><span class="fa fa-times"></span></button>
		</div>
		<div class="search-result-wrapper">
			<div class="search-result-container" *ngFor="let serie of searchResultsArray">
				<app-search-result [serie]="serie"></app-search-result>
			</div>
		</div>
	</div>
</div>