.search-wrapper {
	overflow: auto;
    min-height: 100px;
    width: 70%;
    float: left;
}

.search-container {
	padding: 15px;
}

.input-wrapper {
	width: 100%;
	float: right;
}

input {
	float: right;
	padding: 5px;
	background-color: #555555;
	box-shadow: 0px 0px 10px 1px white;
	border: none;
	color: white;
	outline: none;
	width: 300px;
}

.search-result-wrapper {
	width: 700px;
    max-width: 100%;
	float: right;
    max-height: 800px;
	overflow: auto;
	position: absolute;
    right: 15px;
    top: 50px;
}

.search-result-container {
    padding: 10px 0px;
}

.clear-input {
	position: absolute;
    right: 15px;
    border: none;
    top: 19px;
    color: white;
	background: none;
	outline: none;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
}