.search-wrapper {

}

.search-container {
	padding: 15px;
}

.input-wrapper {
	width: 100%;
	float: right;
}

input {
	float: right;
	padding: 5px;
	background-color: #555555;
	box-shadow: 0px 0px 10px 1px white;
	border: none;
	border-radius: 5px;
	color: white;
	outline: none;
	width: 300px;
}

.search-result {
	width: 300px;
	float: right;
	background: white;
}

.search-result > span {
	float: left;
	width: 100%;
}